<section class="hero-viewport">
  @for (img of images; track $index) {
    <div class="slide" [class.active]="$index === currentIndex">
      <img [src]="img" class="main-slide-img" />
      <div class="overlay"></div>

      <div class="slide-content">
        <h1 class="display-1 fw-black">BIENVENIDOS A <br />ROXBEL</h1>
        <p class="lead mb-4">EQUIPATE PARA GANAR TU PASIÓN</p>
        <button class="btn-modern" routerLink="/productos">VER CATALOGO</button>
      </div>
    </div>
  }

  <button class="nav-btn prev" (click)="prev()">&#10094;</button>
  <button class="nav-btn next" (click)="next()">&#10095;</button>

  <div class="indicators">
    @for (img of images; track $index) {
      <span [class.active]="$index === currentIndex" (click)="setSlide($index)"></span>
    }
  </div>
</section>

<section class="container my-5 py-5 position-relative">
  <div *ngIf="destacados.length === 0" class="text-center py-5">
    <h2 class="section-title">PRODUCTOS DESTACADOS</h2>
    <p class="lead mt-3">No hay productos destacados disponibles.</p>
  </div>

  <div *ngIf="destacados.length > 0" class="position-relative">
    <h2 class="section-title text-center mb-4">PRODUCTOS DESTACADOS</h2>

    <button *ngIf="destacados.length > 3" class="arrow left" (click)="prevDestacados()">‹</button>
    <button *ngIf="destacados.length > 3" class="arrow right" (click)="nextDestacados()">›</button>

    <div class="row g-4 justify-content-center">
      @for (prod of destacadosPaginados; track prod.id) {
        <div class="col-lg-4 col-md-6 col-10">
          <div class="nike-card-premium destacado-card" (click)="abrirDetalle(prod)">
            <div class="img-container-premium">
              <img [src]="prod.imagen" class="product-img-main" />
            </div>
          </div>
          <div class="product-info-premium text-center">
            <p class="p-category">{{ prod.genero }} • {{ prod.categoria }}</p>
            <h3 class="p-name">{{ prod.nombre }}</h3>

            <div class="d-flex align-items-center justify-content-center gap-2">
              <span
                [ngStyle]="{
                  'text-decoration': prod.tiene_descuento ? 'line-through' : 'none',
                  color: prod.tiene_descuento ? '#888' : '#000',
                  'font-size': prod.tiene_descuento ? '0.9rem' : '1.2rem',
                }"
              >
                ${{ prod.precio | number: '1.0-0' : 'es-AR' }}
              </span>

              <span
                *ngIf="prod.tiene_descuento"
                class="text-danger fw-bold"
                style="font-size: 1.2rem"
              >
                ${{ prod.precio_final | number: '1.0-0' : 'es-AR' }}
              </span>
            </div>

            <div class="mt-2" *ngIf="prod.tiene_descuento">
              <span *ngIf="prod.tipo_descuento === 'simple'" class="badge bg-danger">
                {{ prod.descuento_valor }}% OFF
              </span>

              <span *ngIf="prod.tipo_descuento === 'cantidad'" class="badge bg-warning text-dark">
                {{ prod.descuento_valor }}% OFF llevando {{ prod.descuento_cantidad }} unidades o
                mas
              </span>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>

<h2 class="section-title">CATEGORÍAS</h2>

<section class="container-fluid px-lg-5 mb-5 pb-5">
  <div class="row g-3">
    <div class="col-md-4">
      <div class="category-banner" role="button" (click)="irCategoria('Hombre')">
        <div class="banner-img-container">
          <img src="../../assets/banners-categoria/hombre.png" alt="Hombre" />
        </div>
        <div class="banner-text">
          <h3 class="display-1 fw-black">HOMBRES</h3>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="category-banner" role="button" (click)="irCategoria('Mujer')">
        <div class="banner-img-container">
          <img src="../../assets/banners-categoria/mujer.png" alt="Mujer" />
        </div>
        <div class="banner-text">
          <h3 class="display-1 fw-black">MUJERES</h3>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="category-banner" role="button" (click)="irCategoria('Niño')">
        <div class="banner-img-container">
          <img src="../../assets/banners-categoria/nenes.png" alt="Niños" />
        </div>
        <div class="banner-text">
          <h3 class="display-1 fw-black">NIÑOS</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- MODAL DETALLE -->
<div class="modal fade" id="detailModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content border-0 rounded-4 shadow-lg overflow-hidden">
      <div class="modal-body p-0" *ngIf="productoSeleccionado">
        <div class="row g-0">
          <div class="col-md-7 p-4 bg-light">
            <div class="image-viewer">
              <button class="modal-arrow left" (click)="anteriorImagen()">‹</button>

              <img
                [src]="productoSeleccionado.imagenes[imagenIndex]"
                class="main-modal-img"
                [class.zoom]="zoomActivo"
                (click)="toggleZoom()"
              />

              <button class="modal-arrow right" (click)="siguienteImagen()">›</button>
            </div>

            <div class="thumbs mt-3">
              <img
                *ngFor="let img of productoSeleccionado.imagenes; let i = index"
                [src]="img"
                (click)="seleccionarImagen(i)"
                [class.active]="imagenIndex === i"
              />
            </div>
          </div>

          <div class="col-md-5 p-5">
            <button type="button" class="btn-close float-end" data-bs-dismiss="modal"></button>

            <p class="text-muted small mb-1">{{ productoSeleccionado.genero }}</p>
            <h2 class="fw-black mb-2">{{ productoSeleccionado.nombre }}</h2>

            <p class="text-muted mb-3">
              {{
                verMas
                  ? productoSeleccionado.descripcion
                  : (productoSeleccionado.descripcion | slice: 0 : 60)
              }}
              <span
                *ngIf="productoSeleccionado.descripcion?.length > 60"
                (click)="verMas = !verMas"
                style="cursor: pointer; font-weight: bold"
              >
                {{ verMas ? 'Ver menos' : 'Ver más' }}
              </span>
            </p>

            <div class="mb-4">
              <span
                [ngStyle]="{
                  'text-decoration': productoSeleccionado.tiene_descuento ? 'line-through' : 'none',
                  color: productoSeleccionado.tiene_descuento ? '#888' : '#000',
                  'font-size': productoSeleccionado.tiene_descuento ? '1rem' : '1.5rem',
                }"
              >
                ${{ productoSeleccionado.precio | number: '1.0-0' : 'es-AR' }}
              </span>

              <span
                *ngIf="productoSeleccionado.tiene_descuento"
                class="text-danger fw-bold ms-2"
                style="font-size: 1.5rem"
              >
                ${{ productoSeleccionado.precio_final | number: '1.0-0' : 'es-AR' }}
              </span>
            </div>

            <!-- TALLES -->
            <div class="mb-4" *ngIf="productoSeleccionado.categoria?.toLowerCase() !== 'accesorio'">
              <p class="fw-bold mb-2">Talle</p>

              <div class="talle-grid-premium">
                <button
                  *ngFor="let t of productoSeleccionado.talles"
                  class="btn-talle-premium"
                  [class.selected]="talleElegido === t.nombre"
                  [disabled]="!t.disponible"
                  (click)="t.disponible && (talleElegido = t.nombre)"
                >
                  {{ t.nombre }}
                </button>
              </div>
            </div>
            <!-- COLORES -->
            <div class="mb-4">
              <p class="fw-bold mb-2">Color</p>

              <div class="d-flex gap-2 flex-wrap">
                <button
                  *ngFor="let c of productoSeleccionado.colores"
                  class="btn-talle-premium"
                  [class.selected]="colorElegido === c.nombre"
                  [disabled]="!c.disponible"
                  (click)="c.disponible && (colorElegido = c.nombre)"
                >
                  {{ c.nombre }}
                </button>
              </div>
            </div>

            <button
              class="btn-black-premium w-100 py-3 rounded-pill fw-bold"
              (click)="agregarAlCarrito()"
            >
              AGREGAR AL CARRITO
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
