<section class="container-fluid px-2 px-lg-5 my-5">
  <div class="row">
    <!-- SIDEBAR -->
    <aside class="col-lg-2">
      <div class="d-lg-none mb-3 d-flex gap-2">
        <button
          class="btn btn-dark w-100 rounded-pill fw-bold py-2"
          data-bs-toggle="offcanvas"
          data-bs-target="#filtrosMobile"
        >
          FILTRAR
        </button>

        <button
          *ngIf="hayFiltrosActivos()"
          (click)="limpiarTodosLosFiltros()"
          class="btn btn-outline-danger rounded-pill px-3 fw-bold"
        >
          Limpiar
        </button>
      </div>

      <div class="sticky-top d-none d-lg-block filtros-pro" style="top: 110px">
        <div class="d-flex justify-content-between align-items-center mb-4 border-bottom pb-2">
          <h5 class="fw-black m-0">FILTRAR</h5>
          <button
            class="btn-limpiar-filtros"
            (click)="limpiarTodosLosFiltros()"
            *ngIf="hayFiltrosActivos()"
          >
            LIMPIAR
          </button>
        </div>
        <div class="accordion" id="filtrosAccordion">
          <!-- GENERO -->
          <div class="accordion-item border-0">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed fw-bold"
                data-bs-toggle="collapse"
                data-bs-target="#genero"
              >
                GÉNERO
              </button>
            </h2>
            <div id="genero" class="accordion-collapse collapse show">
              <div class="accordion-body">
                <div
                  class="filter-pill"
                  [class.active]="filtroGenero === 'Todos'"
                  (click)="setFiltro('Todos')"
                >
                  Todos
                </div>
                <div
                  class="filter-pill"
                  [class.active]="filtroGenero === 'Hombre'"
                  (click)="setFiltro('Hombre')"
                >
                  Hombre
                </div>
                <div
                  class="filter-pill"
                  [class.active]="filtroGenero === 'Mujer'"
                  (click)="setFiltro('Mujer')"
                >
                  Mujer
                </div>
                <div
                  class="filter-pill"
                  [class.active]="filtroGenero === 'Unisex'"
                  (click)="setFiltro('Unisex')"
                >
                  Unisex
                </div>
                <div
                  class="filter-pill"
                  [class.active]="filtroGenero === 'Niño'"
                  (click)="setFiltro('Niño')"
                >
                  Niño
                </div>
              </div>
            </div>
          </div>

          <!-- CATEGORIA -->
          <div class="accordion-item border-0">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed fw-bold"
                data-bs-toggle="collapse"
                data-bs-target="#categoriaGlobal"
              >
                TIPO PRODUCTO
              </button>
            </h2>

            <div id="categoriaGlobal" class="accordion-collapse collapse">
              <div class="accordion-body">
                <div
                  class="filter-pill"
                  [class.active]="filtroCategoria === 'Todos'"
                  (click)="filtroCategoria = 'Todos'"
                >
                  Todos
                </div>
                <div
                  class="filter-pill"
                  [class.active]="filtroCategoria === 'Indumentaria'"
                  (click)="filtroCategoria = 'Indumentaria'"
                >
                  Indumentaria
                </div>
                <div
                  class="filter-pill"
                  [class.active]="filtroCategoria === 'Calzado'"
                  (click)="filtroCategoria = 'Calzado'"
                >
                  Calzado
                </div>
                <div
                  class="filter-pill"
                  [class.active]="filtroCategoria === 'Accesorio'"
                  (click)="filtroCategoria = 'Accesorio'"
                >
                  Accesorio
                </div>
              </div>
            </div>
          </div>

          <!-- PRECIO -->
          <div class="accordion-item border-0">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed fw-bold"
                data-bs-toggle="collapse"
                data-bs-target="#precio"
              >
                PRECIO
              </button>
            </h2>

            <div id="precio" class="accordion-collapse collapse">
              <div class="accordion-body">
                <div class="d-flex gap-2">
                  <div class="w-50">
                    <label class="small text-muted">Mín</label>
                    <input
                      type="number"
                      class="form-control form-control-sm rounded-pill"
                      [(ngModel)]="precioMin"
                      (input)="validarPrecio()"
                      placeholder="0"
                    />
                  </div>

                  <div class="w-50">
                    <label class="small text-muted">Máx</label>
                    <input
                      type="number"
                      class="form-control form-control-sm rounded-pill"
                      [(ngModel)]="precioMax"
                      (input)="validarPrecio()"
                      placeholder="100000"
                    />
                  </div>
                </div>

                <button class="btn btn-light w-100 mt-3 rounded-pill small" (click)="resetPrecio()">
                  Limpiar filtro
                </button>
              </div>
            </div>
          </div>

          <!-- DESTACADOS -->
          <div class="accordion-item border-0">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed fw-bold"
                data-bs-toggle="collapse"
                data-bs-target="#destacados"
              >
                DESTACADOS
              </button>
            </h2>
            <div id="destacados" class="accordion-collapse collapse">
              <div class="accordion-body">
                <div
                  class="filter-pill"
                  [class.active]="soloDestacados"
                  (click)="soloDestacados = !soloDestacados"
                >
                  ⭐ Solo destacados
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </aside>

    <!-- CONTENIDO -->
    <div class="col-lg-10">
      <div
        class="d-flex justify-content-between align-items-center mb-5 border-bottom pb-3 px-2 bg-white sticky-top shadow-sm rounded-3 p-3"
        style="top: 70px; z-index: 100"
      >
        <h1 class="catalogo-title m-0 fw-black text-dark">
          {{ filtroGenero }} ({{ productosFiltrados.length }})
        </h1>

        <div class="d-flex align-items-center gap-3">
          <div class="dropdown">
            <button
              class="btn btn-light rounded-pill fw-bold dropdown-toggle shadow-sm text-uppercase"
              data-bs-toggle="dropdown"
            >
              Ordenar: {{ ordenActual }}
            </button>

            <ul class="dropdown-menu dropdown-menu-end border-0 shadow-lg p-2 rounded-3">
              <li>
                <button class="dropdown-item" (click)="ordenActual = 'Relevancia'">
                  Relevancia
                </button>
              </li>
              <li>
                <button class="dropdown-item" (click)="ordenActual = 'Menor Precio'">
                  Menor Precio
                </button>
              </li>
              <li>
                <button class="dropdown-item" (click)="ordenActual = 'Mayor Precio'">
                  Mayor Precio
                </button>
              </li>
            </ul>
          </div>

          <button
            class="btn btn-dark rounded-pill px-4 shadow cart-btn-anim"
            data-bs-toggle="offcanvas"
            data-bs-target="#cartSide"
          >
            <i class="bi bi-bag"></i>
            <span class="d-none d-md-inline">
              Carrito ({{ carritoService.getCarrito().length }})
            </span>
          </button>
        </div>
      </div>

      <!-- PRODUCTOS -->
      <div class="row g-4 productos-row" *ngIf="productosFiltrados.length > 0">
        <div *ngFor="let item of productosPaginados" class="col-lg-4 col-md-6 col-6">
          <div
            class="nike-card-premium"
            (click)="abrirDetalle(item)"
            [class.destacado]="item.destacado"
          >
            <div class="img-container-premium">
              <img [src]="item.imagen" class="product-img-main" />
            </div>

            <div class="product-info-premium text-center">
              <p class="p-category">{{ item.genero }} • {{ item.categoria }}</p>
              <h3 class="p-name">{{ item.nombre }}</h3>

              <div class="d-flex align-items-center justify-content-center gap-2">
                <span
                  [ngStyle]="{
                    'text-decoration': item.tiene_descuento ? 'line-through' : 'none',
                    color: item.tiene_descuento ? '#888' : '#000',
                    'font-size': item.tiene_descuento ? '0.9rem' : '1.2rem',
                  }"
                >
                  ${{ item.precio | number: '1.0-0' : 'es-AR' }}
                </span>

                <span
                  *ngIf="item.tiene_descuento"
                  class="text-danger fw-bold"
                  style="font-size: 1.2rem"
                >
                  ${{ item.precio_final | number: '1.0-0' : 'es-AR' }}
                </span>
              </div>

              <div class="mt-2" *ngIf="item.tiene_descuento">
                <span *ngIf="item.tipo_descuento === 'simple'" class="badge bg-danger">
                  {{ item.descuento_valor }}% OFF
                </span>

                <span *ngIf="item.tipo_descuento === 'cantidad'" class="badge bg-warning text-dark">
                  {{ item.descuento_valor }}% OFF llevando {{ item.descuento_cantidad }} unidades o
                  mas
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="productosFiltrados.length === 0" class="text-center py-5">
        No hay productos disponibles
      </div>

      <nav class="mt-5 d-flex justify-content-center">
        <ul class="pagination-modern shadow-sm p-2 bg-white rounded-pill">
          <li
            *ngFor="let p of paginas"
            [class.active]="paginaActual === p"
            (click)="cambiarPagina(p)"
          >
            {{ p }}
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>

<!-- MODAL -->
<div class="modal fade" id="detailModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg modal-fullscreen-sm-down">
    <div class="modal-content border-0 rounded-4 shadow-lg overflow-hidden">
      <div class="modal-body p-0" *ngIf="productoSeleccionado">
        <div class="row g-0">
          <div class="col-md-7 p-4 bg-light">
            <div class="image-viewer">
              <button class="arrow left" (click)="anteriorImagen()">‹</button>

              <img
                [src]="productoSeleccionado.imagenes[imagenIndex]"
                class="main-modal-img"
                [class.zoom]="zoomActivo"
                (click)="toggleZoom()"
              />

              <button class="arrow right" (click)="siguienteImagen()">›</button>
            </div>

            <div class="thumbs mt-3">
              <img
                *ngFor="let img of productoSeleccionado.imagenes; let i = index"
                [src]="img"
                (click)="seleccionarImagen(i)"
                [class.active]="imagenIndex === i"
              />
            </div>
          </div>

          <div class="col-md-5 p-5">
            <button type="button" class="btn-close float-end" data-bs-dismiss="modal"></button>

            <p class="text-muted small mb-1">{{ productoSeleccionado.genero }}</p>

            <h2 class="fw-black mb-2">{{ productoSeleccionado.nombre }}</h2>

            <p class="text-muted mb-3">
              {{
                verMas
                  ? productoSeleccionado.descripcion
                  : (productoSeleccionado.descripcion | slice: 0 : 60)
              }}
              <span
                *ngIf="productoSeleccionado.descripcion?.length > 60"
                (click)="verMas = !verMas"
                style="cursor: pointer; font-weight: bold"
              >
                {{ verMas ? 'Ver menos' : 'Ver más' }}
              </span>
            </p>

            <div class="mb-4">
              <span
                [ngStyle]="{
                  'text-decoration': productoSeleccionado.tiene_descuento ? 'line-through' : 'none',
                  color: productoSeleccionado.tiene_descuento ? '#888' : '#000',
                  'font-size': productoSeleccionado.tiene_descuento ? '1rem' : '1.5rem',
                }"
              >
                ${{ productoSeleccionado.precio | number: '1.0-0' : 'es-AR' }}
              </span>

              <span
                *ngIf="productoSeleccionado.tiene_descuento"
                class="text-danger fw-bold ms-2"
                style="font-size: 1.5rem"
              >
                ${{ productoSeleccionado.precio_final | number: '1.0-0' : 'es-AR' }}
              </span>
            </div>

            <div class="mb-3" *ngIf="productoSeleccionado.tiene_descuento">
              <span
                *ngIf="productoSeleccionado.tipo_descuento === 'simple'"
                class="badge bg-danger"
              >
                {{ productoSeleccionado.descuento_valor }}% OFF
              </span>

              <span
                *ngIf="productoSeleccionado.tipo_descuento === 'cantidad'"
                class="badge bg-warning text-dark"
              >
                {{ productoSeleccionado.descuento_valor }}% OFF llevando
                {{ productoSeleccionado.descuento_cantidad }}+
              </span>
            </div>

            <div class="mb-4" *ngIf="productoSeleccionado.categoria !== 'Accesorio'">
              <div class="talle-grid-premium">
                <button
                  *ngFor="let t of productoSeleccionado.talles"
                  class="btn-talle-premium"
                  [class.selected]="talleElegido === t.nombre"
                  [disabled]="!t.disponible"
                  [class.disabled]="!t.disponible"
                  (click)="t.disponible && (talleElegido = t.nombre)"
                >
                  {{ t.nombre }}
                </button>
              </div>
            </div>

            <div class="mb-4">
              <p class="fw-bold mb-2">Color</p>

              <div class="d-flex gap-2 flex-wrap">
                <button
                  *ngFor="let c of productoSeleccionado.colores"
                  class="btn-talle-premium"
                  [class.selected]="colorElegido === c.nombre"
                  [disabled]="!c.disponible"
                  [class.disabled]="!c.disponible"
                  (click)="c.disponible && (colorElegido = c.nombre)"
                >
                  {{ c.nombre }}
                </button>
              </div>
            </div>

            <button
              class="btn-black-premium w-100 py-3 rounded-pill fw-bold"
              (click)="agregarAlCarrito()"
            >
              AGREGAR AL CARRITO
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- OFFCANVAS FILTROS MOBILE -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="filtrosMobile">
  <div class="offcanvas-header border-bottom">
    <h5 class="fw-black m-0">FILTRAR</h5>

    <button
      *ngIf="hayFiltrosActivos()"
      class="btn-limpiar-filtros"
      (click)="limpiarTodosLosFiltros()"
    >
      LIMPIAR
    </button>

    <button type="button" class="btn-close ms-2" data-bs-dismiss="offcanvas"></button>
  </div>

  <div class="offcanvas-body filtros-mobile">
    <div class="accordion" id="filtrosAccordionMobile">
      <!-- GENERO -->
      <div class="accordion-item border-0">
        <h2 class="accordion-header">
          <button
            class="accordion-button fw-bold"
            data-bs-toggle="collapse"
            data-bs-target="#generoMobile"
          >
            GÉNERO
          </button>
        </h2>

        <div id="generoMobile" class="accordion-collapse collapse show">
          <div class="accordion-body">
            <div
              class="filter-pill"
              [class.active]="filtroGenero === 'Todos'"
              (click)="setFiltro('Todos')"
            >
              Todos
            </div>

            <div
              class="filter-pill"
              [class.active]="filtroGenero === 'Hombre'"
              (click)="setFiltro('Hombre')"
            >
              Hombre
            </div>

            <div
              class="filter-pill"
              [class.active]="filtroGenero === 'Mujer'"
              (click)="setFiltro('Mujer')"
            >
              Mujer
            </div>

            <div
              class="filter-pill"
              [class.active]="filtroGenero === 'Unisex'"
              (click)="setFiltro('Unisex')"
            >
              Unisex
            </div>

            <div
              class="filter-pill"
              [class.active]="filtroGenero === 'Niño'"
              (click)="setFiltro('Niño')"
            >
              Niño
            </div>
          </div>
        </div>
      </div>

      <!-- CATEGORIA -->
      <div class="accordion-item border-0">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed fw-bold"
            data-bs-toggle="collapse"
            data-bs-target="#categoriaMobile"
          >
            TIPO PRODUCTO
          </button>
        </h2>

        <div id="categoriaMobile" class="accordion-collapse collapse">
          <div class="accordion-body">
            <div
              class="filter-pill"
              [class.active]="filtroCategoria === 'Todos'"
              (click)="filtroCategoria = 'Todos'"
            >
              Todos
            </div>
            <div
              class="filter-pill"
              [class.active]="filtroCategoria === 'Indumentaria'"
              (click)="filtroCategoria = 'Indumentaria'"
            >
              Indumentaria
            </div>
            <div
              class="filter-pill"
              [class.active]="filtroCategoria === 'Calzado'"
              (click)="filtroCategoria = 'Calzado'"
            >
              Calzado
            </div>
            <div
              class="filter-pill"
              [class.active]="filtroCategoria === 'Accesorio'"
              (click)="filtroCategoria = 'Accesorio'"
            >
              Accesorio
            </div>
          </div>
        </div>
      </div>

      <!-- PRECIO -->
      <div class="accordion-item border-0">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed fw-bold"
            data-bs-toggle="collapse"
            data-bs-target="#precioMobile"
          >
            PRECIO
          </button>
        </h2>

        <div id="precioMobile" class="accordion-collapse collapse">
          <div class="accordion-body">
            <div class="d-flex gap-2">
              <input
                type="number"
                class="form-control form-control-sm rounded-pill"
                [(ngModel)]="precioMin"
                placeholder="Mín"
              />

              <input
                type="number"
                class="form-control form-control-sm rounded-pill"
                [(ngModel)]="precioMax"
                placeholder="Máx"
              />
            </div>

            <button class="btn btn-light w-100 mt-3 rounded-pill small" (click)="resetPrecio()">
              Limpiar precio
            </button>
          </div>
        </div>
      </div>

      <!-- DESTACADOS -->
      <div class="accordion-item border-0">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed fw-bold"
            data-bs-toggle="collapse"
            data-bs-target="#destacadosMobile"
          >
            DESTACADOS
          </button>
        </h2>

        <div id="destacadosMobile" class="accordion-collapse collapse">
          <div class="accordion-body">
            <div
              class="filter-pill"
              [class.active]="soloDestacados"
              (click)="soloDestacados = !soloDestacados"
            >
              ⭐ Solo destacados
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- BOTÓN APLICAR -->
    <button
      class="btn btn-black-premium w-100 mt-4 py-3 rounded-pill fw-bold"
      data-bs-dismiss="offcanvas"
    >
      APLICAR FILTROS
    </button>
  </div>
</div>
